#leaderboard {
    width: 100%;
    margin: 2% 0;
    text-align: center;
}

#leaderboard table {
    width: 90%;
    margin: 0 auto;
    border: 1px solid black;
    border-collapse: collapse;
}

#leaderboard table thead tr th:nth-last-child(2) {
    cursor: pointer;
    text-decoration: underline;
}

#leaderboard table thead tr th:nth-last-child(1) {
    cursor: pointer;
    text-decoration: underline;
}


@media (min-width: 600px) {
    #leaderboard table thead tr th {
        font-family: 'Oswald';
        font-size: 20px;
    }

    #leaderboard table tbody tr td {
        font-family: 'Roboto';
        font-size: 20px;
        border: 1px solid black;
    }

    #leaderboard table tbody tr td img {
        width: 100px;
    }
}

@media (max-width: 600px) {
    #leaderboard table thead tr th {
        font-family: 'Oswald';
        font-size: 10px;
    }

    #leaderboard table tbody tr td {
        font-family: 'Roboto';
        font-size: 10px;
        border: 1px solid black;
    }

    #leaderboard table tbody tr td img {
        width: 50px;
    }
}